@use "../assets/styles/media-queries" as *;
.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/test-1.jpg");
  background-size: cover;
  background-position: center;
  z-index: 100;
  animation: 4s anim-hc;
  @keyframes anim-hc {
    0% {
      filter: brightness(0.3);
    }
    50% {
      filter: brightness(0.3);
    }
  }
}
main {
  grid-area: main;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
}

.elem-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem;
}
.elem-main {
  position: relative;
  height: auto;
  min-height: 30rem;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
  text-align: center;
  border-radius: 3rem;
  overflow: hidden;
  padding: 2rem;
  &:hover::before {
    filter: brightness(0.5);
  }
  &:hover > .main-text > .text-hidden {
    display: flex;
    transition: all 1s;
  }
  &:hover > .text-osteopathie {
    margin-bottom: 1rem;
  }
  &:hover > .main-text {
    margin-bottom: 2rem;
  }
  &:hover > .btn {
    backdrop-filter: none;
    text-decoration: underline;
  }
  @include sm {
    height: auto;
  }
}

.elem-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  border-radius: 3rem;
  transition: filter 0.5s;
  z-index: 0;
  @include sm {
    filter: brightness(0.5);
  }
  @include xs {
    filter: brightness(0.5);
  }
}

.main-osteopathie {
  background: url(../assets/images/leve-de-soleil-2.png);
  background-size: cover;
  background-position: center;
}
.main-meditation {
  background: url(../assets/images/goutte-6-v2.png);
  background-size: cover;
  background-position: center;
}
.main-medecine-rythmique {
  background: url(../assets/images/goutte-7-v3.png);
  background-size: cover;
  background-position: center;
}

.main-text {
  position: relative;
  width: 60%;
  color: white;
  border-radius: 3rem;
  transition: all 1s;
  z-index: 1;
  text-align: center;
  margin-bottom: 8rem;
  @include sm {
    margin-bottom: 2rem;
    width: 100%;
  }
  @include xs {
    margin-bottom: 2rem;
    width: 100%;
  }
}
.text-osteopathie {
  font-size: 2rem;
}

.text-meditation {
  font-size: 2rem;
}
.text-medecine-rythmique {
  font-size: 2rem;
}
.title-osteopathie {
  font-size: 4.5rem;
}
.text-hidden {
  display: none;
  transition: all 1s;
  animation: anim-text-hidden 2s;
  @include sm {
    display: flex;
  }
  @include xs {
    display: flex;
  }
}
@keyframes anim-text-hidden {
  0% {
    opacity: 0;
  }
}
