@use "../../assets/styles/media-queries" as *;

.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/lac-3.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 100;
}
.header-background {
  background: url(../../assets/images/lac-3-v2.png);
  background-size: cover;
}
.main-content {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
  @include xs {
    padding: 1rem;
  }
}

.proposition-container {
  height: auto;
  width: 80%;
  background: white;
  padding: 4rem;
  border-radius: 3rem;
  transition: 2s all;
  @include xs {
    border-radius: 3rem 3rem 0 0;
  }
  @include sm {
    border-radius: 3rem 3rem 0 0;
  }
}
.proposition-container-active {
  border-radius: 3rem 3rem 0 0;
}
.proposition-title {
  font-family: var(--ff-title);
  font-weight: 200;
  font-size: 4rem;
  color: var(--bordeaux);
}
.text-proposition {
  font-size: 2rem;
  color: var(--bordeaux);
}
.modalite-container {
  height: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  transition: 2s all;
  border-radius: 3rem;
  @include xs {
    height: 35rem;
    background: white;
    border-radius: 0 0 3rem 3rem;
    margin: 0 0 2rem 0;
  }
  @include sm {
    height: 30rem;
    background: white;
    border-radius: 0 0 3rem 3rem;
    margin: 0 0 2rem 0;
  }
  &:hover {
    height: 27rem;
    background: white;
    margin: 0;
    border-radius: 0 0 3rem 3rem;
  }
}
h3 {
  font-family: var(--ff-title);
  font-weight: 200;
  font-size: 4rem;
  color: var(--bordeaux);
  cursor: pointer;
  margin-top: 1rem;
}
.span-modalite {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 2s all;
  color: var(--bordeaux);
  animation: modalite-open-anim 3s;
  @keyframes modalite-open-anim {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
  }
  @include xs {
    display: flex;
    color: var(--bordeaux);
  }
  @include sm {
    display: flex;
    color: var(--bordeaux);
  }
}
.style-text-osteo {
  margin: 1rem;
  font-size: 2rem;
}
.style-text-osteo-active {
  color: var(--bordeaux);
}
.osteo-text-container {
  margin: 2rem;
  width: 80%;
}
.osteo-text {
  font-size: 2rem;
}
