.header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/test-1.jpg");
  background-size: cover;
  background-position: center;
  z-index: 100;
}
.header-container-background-none {
  background: none;
}
.container-hc-text {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 2rem;
  color: white;
  text-align: center;
  backdrop-filter: blur(1rem);
  margin: 2rem;
}
h2 {
  font-family: var(--ff-title);
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.fleche-header-container {
  width: 5rem;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 2.5rem);
  color: white;
  font-size: 4rem;
  rotate: 180deg;
  scroll-behavior: smooth;
}
