.title {
  font-family: var(--ff-title);
  font-weight: 200;
  font-size: 3rem;
  // letter-spacing: 0.1rem;
  color: white;
}
.text-deco {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
