@use "base" as *;
@use "classes" as *;
@use "media-queries" as *;
@use "reset" as *;
@use "variables" as *;
@use "utils" as *;
@use "fonts" as *;
@use "separator" as *;
@use "header" as *;
@use "header-container" as *;
@use "nav-bar" as *;
@use "menu-responsive" as *;
@use "menu" as *;
@use "btn" as *;
@use "footer" as *;
@use "animations" as *;
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: container-start 3s;
}
