@use "base" as *;
@use "classes" as *;
@use "media-queries" as *;
@use "reset" as *;
@use "variables" as *;
@use "utils" as *;
@use "fonts" as *;
@use "separator" as *;
@use "header" as *;
@use "header-container" as *;
@use "nav-bar" as *;
@use "menu-responsive" as *;
@use "menu" as *;
@use "btn" as *;
@use "footer" as *;
@use "animations" as *;
.container {
  height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto
    / auto;
  background: #eee;
  animation: container-start 3s;
}
.text-anim-start {
  opacity: 0;
  height: 7.5rem;
  text-align: center;
  background: var(--beige);
  color: white;
  font-size: 6rem;
  font-family: var(--ff-title);
  font-style: normal;
  font-weight: 400;
  animation: text-anim-start 3s;
}
.text-anim-start-p1 {
  opacity: 0;
  animation: text-anim-start-p1 1.5s;
}
.text-anim-start-p2 {
  opacity: 0;
  animation: text-anim-start-p2 3s;
}
